body{
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f1f5f9;
}

.box{
  background:white;
  padding:30px;
  border-radius:10px;
  width:280px;
  text-align:center;
}

input, select{
  width:100%;
  padding:10px;
  margin-bottom:8px;
}

button{
  padding:8px 14px;
  cursor:pointer;
}
